<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newmanspirit.clarity"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    
    <!-- Queries for Facebook app (Android 11+) - Allows detection of installed Facebook app -->
    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.facebook.lite" />
    </queries>
    <application
        android:label="Clarity"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" 
        android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" 
        android:value="@string/facebook_client_token"/>
        
        <!-- Configurações de Privacidade - Facebook SDK mais recente -->
        <!-- Desabilita registro automático de eventos do app (conforme novas diretrizes de privacidade) -->
        <meta-data android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
        android:value="false"/>
        <!-- Desabilita coleta de ID de anunciante -->
        <meta-data android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
        android:value="false"/>
        <!-- Nota: Para atrasar registro de eventos e inicialização até obter consentimento do usuário,
             configure programaticamente no código usando FacebookSdk.setAutoLogAppEventsEnabled(false)
             e FacebookSdk.sdkInitialize() apenas após consentimento -->
        
        <!-- Configuração do Facebook Login: permite fallback para web quando necessário -->
        <!-- Isso resolve problemas com Activity Result APIs e configurações -->
        <meta-data 
            android:name="com.facebook.sdk.login.behavior.native"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
            <meta-data
              android:name="io.flutter.embedding.android.SplashScreenDrawable"
              android:resource="@drawable/launch_background"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep linking -->
            <meta-data android:name="flutter_deeplinking_enabled" android:value="true" />
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="clarity" android:host="clarity.com" />
            </intent-filter>

        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Icône de notification pour Firebase Messaging -->
        <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/notification_icon" />
        <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/ic_launcher_background" />
    </application>
</manifest>
